@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/alexandria-4.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/alexandria-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/alexandria-8.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/alexandria-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/alexandria-7.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/alexandria-3.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/alexandria-6.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/alexandria-5.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/alexandria-0.ttf) format('truetype');
}
